h1 {
    border-bottom: 5px solid black;
}
h2 {
    border-bottom: 10px dotted gray;
}
.theme > div{
    padding: 10px;
    border: 5px solid rgb(56, 55, 55);
    background-color: rgba(214, 214, 214, 0.277);
}
.kadai > div{
    padding: 10px;
    border: 5px solid rgb(121, 0, 0);
    background-color: rgba(255, 0, 0, 0.277);
}
.kazu > div{
    padding: 10px;
    border: 5px solid rgba(117, 76, 0, 0.358);
    background-color: rgba(255, 166, 0, 0.358);
}
.jyugyou > div {
    padding: 10px;
    border: 5px solid rgb(170, 170, 4);
	background-color: #ffefaf;
}
.kansou > div {
    padding: 10px;
    border: 5px solid rgb(4, 104, 170);
	background-color: #aff7ff;
}
.sankou > div {
    padding: 10px;
    border: 5px solid rgb(86, 1, 92);
	background-color: #e4bbf9;
}