body {
    background-color: rgb(240, 240, 240);
}
h1 {
    color: blue;
    border-bottom: 3px solid blue;
}
label, #kensu {
    font-weight: bold;
}
button#kensaku {
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border: none;
}
#kensu {
    color: red;
    font-size: 20px;
}
.program {
    border: 2px solid blue;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}
.program h2 {
    font-size: 12px;
    color: gray;
    border-bottom: none;
}
.program h4 {
    color: gray;
}
li {
    list-style-type: none;
}